* {
  font-family: "EB Garamond", "Times New Roman", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Small card */
.small-card {
  text-align: center;
  & i {
    color: darkolivegreen;
  }
  & h5 {
    padding: 10px;
    font-weight: bold;
  }
}
/* Popular product */

/* card css */
.card-img-top {
  padding: 20px;
  height: 255px;
  width: 290px;
}

.card {
  margin-top: 20px;
  border-radius: 30px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card-body {
  width: 288px;
  height: 170px;
  padding: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.card-button {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.cart-button .add-cart {
  cursor: pointer;
}
.card .btn {
  border-radius: 50px;
}

.card .btn:hover {
  background-color: grey;
}

/* hover card */
.card img {
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}
/* link */
.breadcrumb {
  background-color: whitesmoke;
}
/* product-detail */
.product-detail-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.sort-decription {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.product-detail-category {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* product detail aside */
.product-detail-aside li {
  padding: 10px;
  & i {
    color: #00aa00;
  }
}
